<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tarea 4 - Carta a Santa</title>
    <link rel="stylesheet" href="/static/styles/estilos.css">
</head>
<body>
    <header>Tarea 4</header>
    <main>{{{body}}}</main>
    <footer>ITESO 2025</footer>
</body>
</html>

